<app-navbar></app-navbar>
<div class="page">
  <section class="sec1">
    <div class="bond">
      <div class="bg">
        <h3>Contact</h3>
        <p>Home / Contact</p>
      </div>
    </div>
  </section>
  <section class="sec2">
    <form class="form">
      <p class="title">Contactez-nous</p>
      <label>
        <input required="" placeholder="" type="text" class="input">
        <span>Votre nom (obligatoire)</span>
      </label>
      <label>
        <input required="" placeholder="" type="email" class="input">
        <span>Votre adresse de messagerie (obligatoire)</span>
    </label>
      <label>
        <input required="" placeholder="" type="text" class="input">
        <span>Objet</span>
      </label>
      <label>
        <input required="" placeholder="" type="text" class="input">
        <span>Votre message
        </span>
      </label>
      <button class="submit">Envoyez</button>
    </form>
  </section>
  <section class="sec3">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d51063.8682993269!2d10.194207429885854!3d36.878582178830925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e2b5660843cfb7%3A0xef5de9ff1b91a7f4!2sTunisie%20Securite!5e0!3m2!1sfr!2stn!4v1715518660150!5m2!1sfr!2stn"
      width="1400" height="500" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>
</div>
<app-footer></app-footer>
