.row {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 2rem;
}


.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: whitesmoke;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: #ffffff;
  font-size: 15px;
}



footer {
  background: #16222A;
  background: linear-gradient(59deg, #4db9ee, #053453);
  color: white;
  margin-top: 100px;
}



.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}


.img {
  margin: -1px;
  width: 42px;
  height: 42px;
}

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;

}

ul.social-network li {
  display: inline;

  margin: 0 5px;
  margin-left: 1rem;
}



.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}
.social-network a.icoInstagram:hover {
  background-color: #e72249;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}


.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}
