.tab2 {
  float: left;
  margin: -20% 0 0 15%;
}

table {
  border-collapse: collapse;
  width: 97%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

th {
  padding: 10px;
  color: white;
  text-align: center;
}
td {
  text-align: center;
  border: 0.5px solid #00000051;
}
th {
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #0f1c51;
}

th ::first-letter {
  text-transform: uppercase;
}

tr>th:nth-child(1) {
  border-top-left-radius: 8px;
}

tr>th:nth-child(11) {
  border-top-right-radius: 8px;
}

.buttns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

tr>td:nth-child(1) {
  width: 8%;

}
tr>td:nth-child(2) {
  width: 10%;

}
tr>td:nth-child(3) {
  width: 20%;

}
tr>td:nth-child(10) {
  width: 10%;

}
tr>td:nth-child(4) {
  width: 17%;

}


tr>td:nth-child(5),
tr>td:nth-child(6),
tr>td:nth-child(7),
tr>td:nth-child(8),
tr>td:nth-child(9) {
  width: 5%;

}

